.card{
    padding: 10px;
    margin: 20px;
}

.formButton{
   float:right;
display:'flex'

}
.clientCard{
    min-width:'200px';
    margin:20px
}


.baseFlex{
    
  display:flex;
  justify-content: space-between;
}

.dashboardCard{
  width:  150px;
}


.tableB{
  overflow: auto;
  height: 200px;
}

.NoData{
  font-weight: 600;
text-align: center;
width: 100%;
}

.MarginTop{
  margin-top:20px
}